<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TutoringContext"
         connectionString="Server=0feb9ffd-bf2b-481c-acab-a1b1003123af.sqlserver.sequelizer.com;Database=db0feb9ffdbf2b481cacaba1b1003123af;User ID=dudkderrmzvigzjt;Password=D8Db7KEaPtFqeG27uweGac8LbetCrP5EGGxSUq3FqhRWKzK6c3722XUB8282qbR8;" />
  </connectionStrings>
</configuration>